@media screen and (max-width: 768px) {

  .social-btn {
    display: inline-table;
    margin-top: 50px;
  }
  
  #about {
    padding: 50px;
    text-align: left;
  }
  
  .learn-more-btn {
   margin-top: 0; 
  }
  
  .intro {
    padding: 35px 0 20px 0;
  }
  
  #contact {
    background-attachment: scroll; 
  }
  
  nav ul li {
   text-align: center;
  }

  .row {
  margin-left: 0 !important;
  margin-right: 0  !important;
}
  
}